
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}

body {
  --twitter-color: #50b7f5;
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption, .material-symbols-rounded, .fa-brands ,.fa-twitter {
  padding: 10px;
}
.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebarOption:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 30px;
  color: var(--twitter-color);
}

.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--twitter-color);
  border: none;
  color:white;
  font-weight: 700;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  transition: 0.3s;
}
.sidebar__tweet:hover {
  cursor: pointer;
  background: rgb(161, 215, 247);
transition: 0.2s;
}

.sidebar {
  border-right: 1px solid var(--twitter-color);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color:var(--twitter-color);
  font-size: 30px;
}
  .fa-twitter:hover {
    color:var(--twitter-color);
    font-size: 30px;
    cursor: pointer;
  }

  a, a:link,a:visited {
    text-decoration: none;
  }

  /*feed*/

  .feed {
    flex: 0.5s;
    border-right: 1px solid var(--twitter-color);
    min-width: fit-content;
    overflow-y:scroll;
  }

  .feed__header {
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-color);
    padding: 15x 20px;
  }

  .feed__header h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .feed::-webkit-scrollbar {
    display: none;
  }

  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /*this is where we style tweetbox */

  .tweetBox__input img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    object-fit:cover;
  }

  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 4px solid #d4d4d4;
    padding-right: 10px;
  }

  .tweetBox form {
    display: flex;
    flex-direction: column;
  }

  .tweetBox__input {
    display: flex;
    padding: 20px;
  }
  .tweetBox__input input {
    flex:1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
  }

  .tweetBox__tweetButton {
    background-color: var(--twitter-color);
    border:none;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
  }

  /* post */

  .post__avatar img {
    border-radius: 50%;
    height: 40px;
  }

  .post {
    display:flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-color);
    padding-bottom: 10px;
  }

  .post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
    margin-right: 200px;

  }
  
  .post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 150px;
  }

  .post__badge {
    font-size: 14px;
    color:var(--twitter-color);
    margin-right: 5px;
  }

  .post_headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
  }

  .post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .post__body {
    flex: 1;
    padding: 10px
  }
  .post__avatar {

    padding: 20px;
  }
/*widgets */
  .widgets {
    flex:0.3

  }

  .widgets__input {
    display: flex;
    align-items: center;
    background-color: rgb(219,219,219);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }


.widgets__input input {
  border: none;
  background-color: rgb(219, 219, 219);
  outline:none;
}
.widgets_searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
}
.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}

.ikinci_tweet,.birinci_tweet  {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}


a:visited {
  text-decoration: none;
  color: black;
}
i:hover {
  cursor: pointer;
  color:rgb(161, 215, 247);
}